

/*--------- layout -------------*/

/* Standards */

/* Computers */
.computers {
  grid-column: 1/6;
  grid-row-start: 2;
}

.col_org {
  grid-column: 1/3;
  grid-row-start: 6;
  padding-left: 24.08%;
}

.col_col {
  grid-column: 3/4;
  grid-row-start: 6;
  text-align: center;
}

.col_com {
  grid-column: 4/6;
  grid-row-start: 6;
  padding-left: 44.2%;
  justify-self: end;
}

/* Other Standards */


.grid-centered {
  grid-column: 2/5;
}

/* hero */
#hero {
  grid-template-rows: repeat(13, 40px);
}

#shape1{
  max-width: 580px;
  grid-column: 2/5;
  grid-row-start: 3;
}

#colab-title {
  grid-column: 3/5;
  grid-row: 5;
}

#colab-desc {
  grid-column: 3/5;
  grid-row-start: 6;
}

#role {
  grid-column: 2/3;
  grid-row-start: 11;
}

#mentor {
  grid-column: 3/4;
  grid-row-start: 11;
}

#prototype {
  grid-column: 4/5;
  grid-row-start: 11;
}

/* summary */
#col_summary {
  grid-template-rows: repeat(15, 40px);
}

#col_sum {
  grid-column: 2/5;
  grid-row-start: 7;
}

/* Research */
#col_research {
  grid-template-rows: repeat(22, 40px);
}

#graph{
  max-width: 538px;
  grid-column: 3/6;
  grid-row-start: 2;
}

#col_dem {
  grid-column: 1/2;
  grid-row-start: 2;
  justify-self: end;
}

#col_usage {
  grid-column: 1/2;
  grid-row-start: 5;
}

#col_pers {
  grid-column: 1/2;
  grid-row-start: 9;
}

#col_pers_img1 {
  grid-column: 2/3;
  grid-row-start: 10;
}

#col_juniorc {
  grid-column: 1/4;
  grid-row-start: 14;
  justify-self: center;
  width: 317px;
}

#col_frus1 {
  grid-column: 2/3;
  grid-row-start: 16;
}

#col_goals1 {
  grid-column: 2/3;
  grid-row-start: 19;
}

#col_pers_img2 {
  grid-column: 4/5;
  grid-row-start: 10;
}

#col_seniorg {
  grid-column: 3/6;
  grid-row-start: 14;
  justify-self: center;
  width: 317px;
}

#col_frus2 {
  grid-column: 4/5;
  grid-row-start: 16;
}

#col_goals2 {
  grid-column: 4/5;
  grid-row-start: 19;
}

/* information architecture */
#col_info_architecture {
  grid-template-rows: repeat(11, 40px);
}

#col_user_wants_col {
  grid-column: 1/3;
  grid-row-start: 2;
}

#col_flow1 {
  grid-column: 1/6;
  grid-row-start: 3; }

#col_user_wants_organize {
  grid-column: 1/3;
  grid-row-start: 7;
}

#col_flow2 {
  grid-column: 1/6;
  grid-row-start: 8; }

#col_legend_title {
  grid-column: 5/6;
  grid-row-start: 10;
  justify-self: end;
}

#col_legend {
  grid-column: 4/6;
  grid-row-start: 11;
  justify-self: end;
  margin-top: -20px;
}

/*  Prototype and Testing */

#col_proto_testing {
  grid-template-rows: repeat(41, 40px);
}

#col_pwebsite {
  grid-column: 1/2;
  grid-row-start: 2;
}

#col_sketch1 {
  grid-column: 1/6;
  grid-row-start: 3;
}

#col_pdash {
  grid-column: 1/2;
  grid-row-start: 13;
}

#col_sketch2 {
  grid-column: 1/6;
  grid-row-start: 14;
}

#col_testing1 {
  grid-column: 1/2;
  grid-row-start: 24;
}

#col_wireframe1 {
  grid-column: 2/5;
  grid-row-start: 25;
}

#col_adjustments1 {
  grid-column: 2/5;
  grid-row-start: 32;
}

#col_wireframe2 {
  grid-column: 2/5;
  grid-row-start: 33;
}

#col_adjustments2 {
  grid-column: 2/5;
  grid-row-start: 40;
}

#col_demogrphics {
  grid-column: 5/6;
  grid-row-start: 38;
}

/* Visual Design */

#col_visual_design {
  grid-template-rows: repeat(38, 40px);
}

#col_visd_text {
  grid-column: 2/5;
  grid-row-start: 2;
}

#col_typo {
  grid-column: 1/2;
  grid-row-start: 5;
}

#col_typo_img {
  grid-column: 2/5;
  grid-row-start: 5;
}

#col_typo_cap {
  grid-column: 5/6;
  grid-row-start: 10;
}

#col_color {
  grid-column: 1/3;
  grid-row-start: 14;
}

#col_color_img {
  grid-column: 2/5;
  grid-row-start: 15;
  /* max-width: 377.53px; */
  max-width: 70%;
}

#col_color_cap {
  grid-column: 5/6;
  grid-row-start: 17;
}

#col_illust {
  grid-column: 1/3;
  grid-row-start: 21;
}

#meerkat1{
  grid-column: 2/4;
  grid-row-start: 22;
  /* max-width: 359.39px; */
  margin-left: -15%;
}

#meerkat2{
  grid-column: 4/6;
  grid-row-start: 27;
  /* max-width: 356px; */
}

#col_computer_vd {
  grid-column: 1/4;
  grid-row-start: 32;
  /* max-width: 540px; */
}

#meercats {
  grid-column: 5/6;
  grid-row-start: 23;
}

/* Testing #2 */

#col_test2 {
  grid-template-rows: repeat(32, 40px);
}

#col_test2_cap {
  grid-column: 1/2;
  grid-row-start: 2;
}

#hi-small1{
  grid-column: 1/6;
  grid-row-start: 3;
  /* max-width: 454px; */
  width: 50%;
}

#hi-small2{
  grid-column: 1/6;
  grid-row-start: 3;
  /* max-width: 454px; */
  width: 50%;
  justify-self: end;
} 

#col_test2_adj1 {
  grid-column: 2/5;
  grid-row-start: 9;
}

#hi-big1 {
  grid-column: 2/5;
  grid-row-start: 12;
  max-width: 540px;
}

#col_test2_adj2 {
  grid-column: 2/5;
  grid-row-start: 19;
}

#hi-big2 {
  grid-column: 2/5;
  grid-row-start: 20;
  max-width: 540px;
}

#col_test2_adj3 {
  grid-column: 2/5;
  grid-row-start: 27;
}

#col_test2_dem {
  grid-column: 5/6;
  grid-row-start: 24;
}

#col_shape2 {
  grid-column: 3/4;
  grid-row-start: 29;
  margin-left: -48px;
}

#col_prototypes {
  grid-column: 3/4;
  grid-row-start: 30;
}

#col_conclusion {
  grid-template-rows: repeat(26, 40px);
}

/* Computers is set by class */

#col_con_text {
  grid-row-start: 8;
}

#col_outro {
  grid-row-start: 26;
}


