
/* aside text*/

.vertical-text {
    width: 85px;
    position: relative;
    left: 1042px;
    writing-mode: vertical-rl;
}

.vertical-text span {
    text-orientation: upright;
}

.top{
    padding-top: 228px;
}



/*---------text styling-------------*/
.hero-title{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.hero-text{
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.bold-title{
  text-transform: uppercase;
  font-family: Neuzeit Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;

}

.project-caption h3 {
  /* Romi to make spacing here */
}

.project-caption p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #000000;
  /* Romi to make spacing here */
}

#red{
  color: #FF3351;
  font-weight: 400;
}

.section-title {
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #000000;
}

.project-paragraph{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #000000;
}

#bold{
  font-family: Neuzeit Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* or 157% */
  letter-spacing: 0.1em;
  color: #000000;
}


/*---------pictures-------------*/

.project img {
  width: 100%;
}

.persona {
  max-width: 166px;
}


/*------ global layout --------*/

main {
  margin: 0 9.6% 0 9.6%;
  }

.project section {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.section-title {
  grid-column: 1/5;
  grid-row-start: 1; 
}

.project-caption {

}

/*--------- layout -------------*/

/* hero */
#hero {
  grid-template-rows: repeat(13, 40px);
}

#shape1{
  max-width: 580px;
  grid-column: 2/5;
  grid-row-start: 3; 
}

#colab-title {
  grid-column: 3/5; 
  grid-row: 5;
}

#colab-desc {
  grid-column: 3/5;
  grid-row-start: 6; 
}

#role {
  grid-column: 2/3;
  grid-row-start: 11; 
}

#mentor {
  grid-column: 3/4;
  grid-row-start: 11; 
}

#prototype {
  grid-column: 4/5;
  grid-row-start: 11; 
}

/* summary */
#col_summary {
  grid-template-rows: repeat(15, 40px);
}

#computers {
  /* max-width: 936px; */
  grid-column: 1/6;
  grid-row-start: 2; 
}

#col_org {
  grid-column: 1/3;
  grid-row-start: 6; 
}

#col_col {
  grid-column: 3/4;
  grid-row-start: 6; 
}

#col_com {
  grid-column: 4/6;
  grid-row-start: 6; 
  justify-self: end;
}

#col_sum {
  grid-column: 2/5;
  grid-row-start: 7; 
}

/* Research */
#col_research {
  grid-template-rows: repeat(22, 40px);
}

#graph{
  max-width: 538px;
  grid-column: 3/6;
  grid-row-start: 2; 
}

#col_dem {
  grid-column: 1/2;
  grid-row-start: 2; 
  justify-self: end;
}

#col_usage {
  grid-column: 1/2;
  grid-row-start: 5; 
}

#col_pers {
  grid-column: 1/2;
  grid-row-start: 9; 
}

#col_pers_img1 {
  grid-column: 2/3;
  grid-row-start: 10; 
}

#col_juniorc {
  grid-column: 1/4;
  grid-row-start: 14; 
  justify-self: center;
  width: 317px;
}

#col_frus1 {
  grid-column: 2/3;
  grid-row-start: 16; 
}

#col_goals1 {
  grid-column: 2/3;
  grid-row-start: 19; 
}

#col_pers_img2 {
  grid-column: 4/5;
  grid-row-start: 10; 
}

#col_seniorg {
  grid-column: 3/6;
  grid-row-start: 14;
  justify-self: center; 
  width: 317px;
}

#col_frus2 {
  grid-column: 4/5;
  grid-row-start: 16; 
}

#col_goals2 {
  grid-column: 4/5;
  grid-row-start: 19; 
}

/* information architecture */
#col_info_architecture {
  grid-template-rows: repeat(11, 40px);
}

#col_user_wants_col {
  grid-column: 1/3;
  grid-row-start: 2; 
}

#col_flow1 {
  grid-column: 1/6;
  grid-row-start: 3; }

#col_user_wants_organize {
  grid-column: 1/3;
  grid-row-start: 7; 
}

#col_flow2 {
  grid-column: 1/6;
  grid-row-start: 8; }

#col_legend_title {
  grid-column: 5/6;
  grid-row-start: 10; 
  justify-self: end;
}

#col_legend {
  grid-column: 4/6;
  grid-row-start: 11;
  justify-self: end;
  margin-top: -20px; 
}

/*  Prototype and Testing */

#col_proto_testing {
  grid-template-rows: repeat(41, 40px);
}

#col_pwebsite {
  grid-column: 1/2;
  grid-row-start: 2;
}

#col_sketch1 {
  grid-column: 1/6;
  grid-row-start: 3;
}

#col_pdash {
  grid-column: 1/2;
  grid-row-start: 13;
}

#col_sketch2 {
  grid-column: 1/6;
  grid-row-start: 14;
}

#col_testing1 {
  grid-column: 1/2;
  grid-row-start: 24;
}

#col_wireframe1 {
  grid-column: 2/5;
  grid-row-start: 25;
}

#col_adjustments1 {
  grid-column: 2/5;
  grid-row-start: 32;
}

#col_wireframe2 {
  grid-column: 2/5;
  grid-row-start: 33;
}

#col_adjustments2 {
  grid-column: 2/5;
  grid-row-start: 40;
}

#col_demogrphics {
  grid-column: 5/6;
  grid-row-start: 38;
}

/* Visual Design */

#col_visual_design {
  grid-template-rows: repeat(38, 40px);
}

#col_visd_text {
  grid-column: 2/5;
  grid-row-start: 2;
}

#col_typo {
  grid-column: 1/2;
  grid-row-start: 5;
}

#col_typo_img {
  grid-column: 2/5;
  grid-row-start: 5;
}

#col_typo_cap {
  grid-column: 5/6;
  grid-row-start: 10;
}

#col_color {
  grid-column: 1/3;
  grid-row-start: 14;
}

#col_color_img {
  grid-column: 2/5;
  grid-row-start: 15;
  /* max-width: 377.53px; */
  max-width: 70%;
}

#col_color_cap {
  grid-column: 5/6;
  grid-row-start: 17;
}

#col_illust {
  grid-column: 1/3;
  grid-row-start: 21;
}

#meerkat1{
  grid-column: 2/4;
  grid-row-start: 22;
  /* max-width: 359.39px; */
  margin-left: -15%;
}

#meerkat2{
  grid-column: 4/6;
  grid-row-start: 27;
  /* max-width: 356px; */
}

#col_computer_vd {
  grid-column: 1/4;
  grid-row-start: 32;
  /* max-width: 540px; */
}

#meercats {
  grid-column: 5/6;
  grid-row-start: 23;
}

.hi-small{
  max-width: 454px;
}
.hi-big{
  max-width: 540px;
}
.shape2{
  max-width: 166px;
}
.up{
  max-width: 13.28px;
}
.next{
  max-height: 17px;
}
footer a:link {
  text-decoration: none;
  color: black;
}
footer {
  font-family: Neuzeit Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
}
