/* ------------------------  UNIQUE PEAS STYLES  ------------------------- */

.green{
  font-family: Raleway;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color:#6ba432;
}

/* mouse over link */
a:hover {
  color: #3A4F30;
}


/* -------------- VERTICAL AND NON-STANDARD HORIZONTAL LAYOUT -------------- */

/* ---- MAIN ---- */

/* This redfines the "main" section for peas.
This makes the footer "sticky"  so that it is always
at bottom unless the content overflows the bottom
of the window.  This only applies to peas since
colab will never have this problem :) */

main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

/* ---- HERO ---- */

/* First setting postion of Hero Section
in main layout */

#peas-hero {
  grid-row-start: 1;
}

/* Then we set Template for the children of
the Hero Section Mobile and Desktop*/

/* Hero - Mobile */
@media screen and (max-width: 599px) {
  #peas-hero { /* You can be one too! Just eat your vegetables!*/
    grid-template-rows: 68px
                        [section-title]
                        minmax(68px, auto)
                        [description-start]
                        minmax(0, auto) 0px
                        [shape-start]
                        minmax(0, auto)
                        [shape-end]
                        40px
                        [captions]
                        minmax(0, auto)
                        1fr
                        ;

  }
}

@media screen and (min-width: 600px) {
  #peas-hero {
    grid-template-rows: 68px
                        [section-title]
                        68px
                        [description-start]
                        minmax(0, auto) 0px
                        [shape-start]
                        minmax(0, auto)
                        [shape-end]
                        0px
                        [captions]
                        minmax(0, auto)
                        0px
                        [infotext-start]
                        1fr
                        ;
  }
}

/* Hero Objects */
#peas-shape1 {
  max-width: 910px;
  grid-row: shape-start / shape-end;
}

#peas-title {
  /* grid-column: 1/-1; */
  grid-row-start: section-title;
}

#peas-desc {
  /* grid-column: 2/5; */
  grid-row-start: description-start;
}

#peas-hero-detail {
  grid-row-start: captions;
}

@media screen and (max-width: 599px) {
  #peas-role {
    justify-self: center;
    text-align: center;
    margin-bottom: 40px;
  }

  #peas-website {
    justify-self: center;
    text-align: center;
  }
}


#peas-infotext {
  /* padding-top: 25px; */
  grid-row-start: infotext-start;
}

/*----PICTURES-----*/

#shape1{

}

footer {
  grid-row-start: 2;
}
