
/* -------------- COLAB TEXT STYLES --------------- */


a:link {
  text-decoration: none;
}

.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: black;
}

.caption {
  font-family: Neuzeit Grotesk;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #000000;
}

.caption-detail {
  font-family: Neuzeit Grotesk;
  font-style: regular;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #828282;
}


/* -------------------- LAYOUT -------------------- */

/* ---- Ensure Always Full Height ---- */

main {
  min-height: 100vh;
}


/* ---- Grid Section Layout ---- */

/* Mobile and Tablet */

@media screen and (max-width: 899px) {
  #projects {
    grid-template-rows: 83px
                        auto
                        5px
                        auto
                        1fr;
  }
}


/* Desktop */

@media screen and (min-width: 900px) {
  #projects {
    grid-template-rows: repeat(5, 140px);

  }
}

/* ---- Grid Items ---- */

/* There are two items on the grid co lab and peas.
the text and image pieces are absolute positioned
within their cotainer, which is places on the
grid. */

figure {
  /* This allows for absolute positoning of child elemtns  */
  position: relative;
}

/* co lab */

#colab {
  grid-row-start: 2;
  display: relative;
  width: 167px;
  justify-self: center;
}

.meerkat{

  max-width: 167px;
}

.text1 {
  padding-top: 24px;
}


/*  peas in heart */

#peasinheart {
  grid-row-start: 4;
  display: relative;
  width: 354px;
}

.peas {
  max-width: 117px;
  position: absolute;
  top: 0;
  left: 0;
}

.text2 {
  position: absolute;
  top: 83px;
  left: 59px;
  text-align: center;
}

@media screen and (max-width: 899px) {
/* Peas positioning requires a tweak in the mobile. */

#peasinheart {
  grid-row-start: 4;
  display: relative;
  width: 183px;
  justify-self: center;

}

.peas {
  max-width: 145px;
  position: absolute;
  top: 0;
  left: 19px;
}

.text2 {
  position: absolute;
  top: 206px;
  left: 0;
  text-align: left;

}



/*-----mobile coming soon-----*/

/* hopefully we are done with this... */
#lowercase{
   text-transform: lowercase;
}
